.hero {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-position: center;
    margin: 0 auto;
    width: 1320px;
    height: 600px;
}

.hero-h4 {
    font-size: 32px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
    padding-top: 200px;
    margin-bottom: 0px;
}

.hero-h3 {
    font-size: 72px;
    text-align: center;
    color: white;
    margin-top: 16px;
}

/* main section */

.main-off {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}

.main-p {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0px;

}

.main-h2 {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}

.main-section {
    padding: 0px;
    align-items: center;
}

.happy-img {
    display: block;
    margin: auto;
}

/* welcome party section */
.party-section {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.welcome {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 126px;
    padding-left: 126px;
    margin-bottom: 0px;
}

.welcome-p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    width: 697px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 126px;
    padding-top: 12px;
}

.btn-join {
    background: transparent;
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 126px;
    margin-top: 48px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}

.year-2024 {
    display: block;
    margin: auto;
    padding: 6px 138px 6px 868px;
    margin-top: -400px;
}

/* address section */
.address-section {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0 auto;
    margin-top: 120px;
}

.hotel-address {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
}

span {
    color: red;
}

.btn-join2 {
    background-color: #F00;
    color: rgb(255, 255, 255);
    display: inline-flex;
    padding: 16px 32px;
    margin-left: 570px;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

/* best offer */
.best-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    height: 482px;
    margin: auto;
    padding-top: 120px;
}

.new-best-off {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 0px;
}

.coming-soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;

}

.p-new-best-off {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}

.h2-2024 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 276px;
    margin-left: 118px;
}

.p-2024-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 118px;
}

/* sale section */

.sale-section {
    width: 1320px;
    margin: auto;
}

.what {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 0px;
}

.holiday {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: -40px;
    margin-bottom: 0px;
}

.sale-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    align-items: center;
    margin: auto;
    padding-top: 28px;
}

.banner {
    display: flex;
    width: 1320px;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 40px;
}

.banner .banner-img1 {
    margin-top: 200px;
    position: absolute;
    top: 3620px;
}

.banner .banner-img3 {
    position: absolute;
    top: 3823px;
    right: 99px;
}

/* Awesome Portfolio */

.awesome-portfolio {
    width: 1320px;
    margin: auto;
    padding-top: 120px;
}

.best-gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
}

.portfolio {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.portfolio-dese {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-top: 22px;
    width: 896px;
}

.awesome-portfolio .img-6 {
    justify-content: center;
    align-items: center;
}

/* Subscribe Newsletter */

.subscribe-newsletter {
    width: 1320px;
    height: 616px;
    margin: auto;
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 120px;
}

.h3-subs {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.desc-subs {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: 0;
    text-align: center;
    margin-left: 200px;
}

.sub-box {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-top: 48px;
    box-sizing: border-box;
    border-radius: 5px;
}

.sub-box input {
    border: none;
    outline: none;
    width: 648px;
    height: 72px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    border-radius: 50px 0px 0px 50px;
}

.sub-box button {
    width: 210px;
    height: 72px;
    outline: none;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
}

/* footer section */

.footer-2 {
    width: 1600px;
    height: 609px;
    background: #070211;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;
    padding-left: 140px;
}

.footer .footer-right {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
    text-align: end;
    padding-top: 120px;
    padding-right: 140px;
}
.vertical-line{
    width: 1px;
    height: 500px;
    color: #FFF;
}


